@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "light";
    default: true;

   /* High-action color (Buttons, Call to Action) */
    --color-primary: #1F6F5F; 
    
    /* Secondary actions (Status badges, secondary buttons) */
    --color-secondary: #2FA084;
    
    /* Highlights (Selection markers, promotions) */
    --color-accent: #6FCF97;
    
    /* Background surfaces or Card headers */
    --color-neutral: #EEEEEE; /* Switched to a darker tone for better readability */
    
    /* Optional: Ensure the background stays clean */
    --color-base-100: #FFFFFF;
}


body{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}